* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #474747;
  color: #ADADAD;
}

a {
  color: #ADADAD;
  text-decoration: none;
}

a:active {
  color: black;
}

a:hover {
  opacity: 0.5;
}

.container {
  padding: 15px;
}
.container--item {
  display: flex;
  justify-content: space-around;
}
.container--m {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.logo {
  max-width: 350px;
  width: 100%;
  min-width: 100px;
}

.con {
  height: 450px;
}

.hmenu {
  display: flex;
}
.hmenu__item {
  padding: 0 15px 0 15px;
  font-size: 24px;
  text-align: center;
}
.hmenu__item:hover {
  border: 1px solid black;
}

.slideshow {
  margin: 0 150px;
  position: relative;
}
.slideshow__item {
  height: 350px;
  width: 300px;
  margin: 0 20px 0;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  transition: all 1000ms ease;
}

.slick-current {
  height: 390px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.about {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 15px;
}
.about__item {
  min-width: 200px;
  height: 100%;
}
.about__item--title {
  max-width: 87%;
  height: 100%;
  min-height: 250px;
  font-size: 65px;
  border-right: 3px solid #fff;
  margin: auto 10px auto auto;
  text-align: center;
  align-content: center;
  display: flex;
}
.about__item--descr {
  margin: auto;
  width: 50vw;
  height: 100%;
  font-size: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background: url(../images/back-aboutpng.png) 100% 100% no-repeat;
  overflow: hidden;
}
.about__item--question {
  font-size: 50px;
  max-width: 87%;
  height: 100%;
  min-height: 250px;
  border-right: 3px solid #fff;
  margin: auto 10px auto auto;
  text-align: center;
  align-content: center;
  display: flex;
}
.about__item p {
  margin: auto;
}
.about--text {
  padding: 20px 45px 65px 15px;
}

.model {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 20px;
}
.model__heading {
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 20px;
}
.model__block {
  padding: 0 10px;
}
.model__item {
  display: flex;
}
.model__img {
  max-height: 400px;
  height: auto;
}
.model__name {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.hrModel {
  margin: 0 auto;
  width: 90%;
  height: 8px;
  border: none;
  background: #333;
  border-radius: 4px;
}

.modelParam {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.modelParam__item {
  padding: 10px;
  font-size: 28px;
}
.modelParam__item--descr {
  width: 100%;
  max-width: 60vw;
  margin: auto 0;
}
.modelParam__item--params {
  text-transform: uppercase;
}
.modelParam__img {
  width: 100%;
  max-width: 400px;
  height: auto;
  padding: 10px;
}

.fheading {
  font-size: 30px;
  text-align: center;
}

.tel-email {
  display: flex;
  justify-content: center;
  padding-left: 85px;
}
.tel-email__item {
  padding: 10px 0;
}
.tel-email__item--email {
  padding: 10px 0;
  margin-left: 40px;
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 80px;
}

.social-card {
  text-align: center;
  padding: 0 10px;
}
.social-card__heading {
  padding: 5px;
}
.social-card__img {
  width: 30px;
  height: 30px;
}

.copy {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.author {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0 0 0;
}

/*# sourceMappingURL=style.css.map */
